<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soccer Magazine</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@800&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <ul class="head">
        <li><a href="#">최신뉴스</a></li>
        <li><a href="#">영상</a></li>
        <h1 class="head title"><a href="/">S<span><img src="/images/title-O.png" alt=""></span>ccer magazine</a></h1>
        <li><a href="#">일정/결과</a></li>
        <li><a href="#">게시판</a></li>
      </ul>
    </nav>
    <hr>
      <div class="bar">
        <div class="current-time">
          PLAY MAGAZINE, START SOCCER
        </div>
        <div class="gnb">
          <div class="search">
            <a href="/subscribe.html">정기구독</a>
          </div>
          <div class="login">
            <a href="/login.html">로그인</a>
          </div>
          <div class="registor">
            <a href="/register.html">회원가입</a>
          </div>
        </div>
      </div>
    <hr>
  </header>
  <section class="banner">
        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/images/banner01.jpg" alt=""></div>
            <div class="swiper-slide"><img src="/images/banner02.jpg" alt=""></div>
            <div class="swiper-slide"><img src="/images/banner03.jpg" alt=""></div>
            <div class="swiper-slide"><img src="/images/banner04.jpg" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
  </section>
  <section class="news">
    <div class="news-title-box">
      <div class="news-title">
        <h2>최신뉴스</h2>
      </div>
      <div class="more-button">
        더보기
      </div>
    </div>
    <div class="news-box">
      <table>
        <tr>
          <td class="news-img">
            <img src="/images/news01.jpg" alt="">
          </td>
          <td>
            <span>첼시, 바르셀로나 '초대형'선수 영입 임박...최종 합의 완료</span>
            <span>포포투</span>
          </td>
          <td class="news-img">
            <img src="/images/news05.jpg" alt="">
          </td>
          <td>
            <span>'2300억 투자 폭풍 반전' 달라지는 첼시 라인업…다크호스 급부상</span>
            <span>스포츠조선</span>
          </td>
          <td rowspan="4">

          </td>

        </tr>
        <tr>
          <td class="news-img">
            <img src="/images/news02.jpg" alt="">
          </td>
          <td>
            <span>'EPL 팀 맞아?'... 황희찬뛰는 울브스, 포르투갈 선수로 베스트11 가능</span>
            <span>인터풋볼</span>
          </td>
          <td class="news-img">
            <img src="/images/news06.jpg" alt="">
          </td>
          <td>
            <span>우승했는데도 웃지 못한 '먹튀'... 결승 4경기째 '0분' 출전</span>
            <span>스타뉴스</span>
          </td>
        </tr>
        <tr>
          <td class="news-img">
            <img src="/images/news03.jpg" alt="">
          </td>
          <td>
            <span>日미나미노 챔스 탈락 원흉 지목, 현지서 "유령" 맹비난</span>
            <span>스타뉴스</span>
          </td>
          <td class="news-img">
            <img src="/images/news07.jpg" alt="">
          </td>
          <td>
            <span>8년 전 방출한 FW에게 혼쭐난 맨유..."이럴 거면 다시 데려와!"</span>
            <span>OSEN</span>
          </td>
        </tr>
        <tr>
          <td class="news-img">
            <img src="/images/news04.jpg" alt="">
          </td>
          <td>
            <span>PSG MF, 팬한테 또 담배 걸렸다… 훈계 듣고 ‘찐당황’</span>
            <span>스포탈코리아</span>
          </td>
          <td class="news-img">
            <img src="/images/news08.jpg" alt="">
          </td>
          <td>
            <span>"HERE WE GO!" 맨시티, '라 마시아 출신' 22세 LB 품는다</span>
            <span>OSEN</span>
          </td>
        </tr>
      </table>
    </div>
  </section>
  <section class="video">
    <div class="news-title-box">
      <div class="news-title">
        <h2>영상소식</h2>
      </div>
      <div class="more-button">
        더보기
      </div>
    </div>
  </section>
  <section class="record">
    <div class="news-title-box">
      <div class="news-title">
        <h2>일정결과</h2>
      </div>
      <div class="more-button">
        더보기
      </div>
    </div>
    <!-- 탭모양의 레이아웃 제작하세요. -->
    <div class="tabs-container">
      <div class="tab-btns-box">
        <ul class="tab-btns">
          <li><a href="#tab-contnet01" class="active">일정</a></li>
          <li><a href="#tab-contnet02">결과</a></li>
          <li><a href="#tab-contnet03">순위</a></li>
          <li><a href="#tab-contnet04">기록</a></li>
        </ul>
      </div>
      <div class="tab-contents-box">
        <div class="tab-content tab-contente01" id="tab-contnet01">
          일정
        </div>
        <div class="tab-content tab-contente02" id="tab-contnet02">
          결과
        </div>
        <div class="tab-content tab-contente03" id="tab-contnet03">
          순위
        </div>
        <div class="tab-content tab-contente04" id="tab-contnet04">
          기록
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer">
      <div class="footer-content">
        <span>SOCCER MAGAZINE</span>
        <span>발행인: Jung Sub An</span>
        <span>E-mail: apple9568@naver.com</span>
        <span><a href="https://github.com/JungSub917">Github 바로가기</a></span>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<!-- infinite slider -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        }
      });
    </script>
    <script src="/script/index.js"></script>
</body>
</html>