<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/public.css">
  <link rel="stylesheet" href="/css/login.css">
  <title>Soccer Magazine Login</title>
</head>
<body>
  <section class="login">
    <div class="login-container">
      <d class="login-box">
        <h1 class="head-title"><a href="/">S<span><img src="/images/title-O.png" alt=""></span>ccer magazine</a></h1>
        <div>
          <label for="userName"></label>
          <input type="text" id="userName" name="userName" placeholder="ID 또는 E-Mail" autocomplete="off">
        </div>
        <div>
          <label for="userPwd"></label>
          <input type="password" id="userPwd" name="userPwd" placeholder="비밀번호">
        </div>
        <div class="ck">
          <input type="checkbox" id="checkbox">
          <label for="checkbox">로그인 상태 유지</label>
        </div>
        <div>
          <button class="loginbtn">로그인</button>
        </div>
        <div class="registerbtn">
          <span><a href="#">회원가입 </a></span>
          <span><a href="#">ID 찾기</a></span>
          <span><a href="#">비밀번호 찾기</a></span>
        </div>
        <div class="platform-loginbtn">
          <button>Facebook 로그인</button>
          <button>Google 로그인</button>
          <button>Naver 로그인</button>
          <button>Apple 로그인</button>
        </div>
      </div>  
    </div>
  </section>
  <script src="/script/index.js"></script>
</body>
</html>