<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soccer Magazine 회원가입</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/public.css">
  <link rel="stylesheet" href="/css/register.css">
</head>
<body>
  <h1>회원가입</h1>
  <section>
    <div class="tabs-container">
      <div class="tab-btns-box">
        <ul class="tab-btns">
          <li><a href="#tab-contnet01" class="active">일정</a></li>
          <li><a href="#tab-contnet02">결과</a></li>
          <li><a href="#tab-contnet03">순위</a></li>
          <li><a href="#tab-contnet04">기록</a></li>
        </ul>
      </div>
      <div class="tab-contents-box">
        <div class="tab-content tab-contente01" id="tab-contnet01">
          일정
        </div>
        <div class="tab-content tab-contente02" id="tab-contnet02">
          결과
        </div>
        <div class="tab-content tab-contente03" id="tab-contnet03">
          순위
        </div>
        <div class="tab-content tab-contente04" id="tab-contnet04">
          기록
        </div>
      </div>
    </div>
  </section>
  <script src="/script/index.js"></script>
</body>
</html>