<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soccer Magazine 구독</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/public.css">
  <link rel="stylesheet" href="/css/subscribe.css">

</head>
<body>
  <header>
    <nav>
      <ul class="head">
        <li><a href="#">최신뉴스</a></li>
        <li><a href="#">영상</a></li>
        <h1 class="head-title"><a href="/">S<span><img src="/images/title-O.png" alt=""></span>ccer magazine</a></h1>
        <li><a href="#">일정/결과</a></li>
        <li><a href="/support.html">고객센터</a></li>
      </ul>
    </nav>
    <div class="bar">
      <div class="gnb">
        <div class="search">
          <a href="/subscribe.html">정기구독</a>
        </div>
         <div class="login">
          <a href="/login.html">로그인</a>
        </div>
        <div class="registor">
          <a href="/register.html">회원가입</a>          
        </div>
      </div>
      <div class="slogan">
        PLAY SOCCER, START MAGAZINE!
      </div>   
    </div>
  </header>
  <section class="subscribe-box">
    <!-- 콜랩스 모양의 레이아웃 제작. -->
    <h2>정기구독</h2>
    <div class="accordion-container">
      <div class="accordion-box">
        <div class="accordion-title"><span>월간 이용권</span></div>
        <div class="accordion-content">
          한 달 무료체험 월 4,900원 <br>(2022.10.18.부터 결제)
        </div>
      </div>
      <div class="accordion-box">
        <div class="accordion-title"><span>월간 이용권 plus</span></div>
        <div class="accordion-content">
          한 달 무료체험 월 9,800원 + SPORT ON + SPORT ON 2<br>(2022.10.18.부터 결제)
        </div>
      </div>
      <div class="accordion-box">
        <div class="accordion-title"><span>연간 이용권</span></div>
        <div class="accordion-content">
          한 달 무료체험 연 46,800원 <br>(2022.10.18.부터 결제)
        </div>
      </div>
      <div class="accordion-box">
        <div class="accordion-title"><span>연간 이용권 plus</span></div>
        <div class="accordion-content">
          한 달 무료체험 월 79,900원 + SPOTV ON + SPOTV ON 2 + VOD 다수<br>(2022.10.18.부터 결제)
        </div>
      </div>
    </div>
  </section>
  <section class="subscribe-introduce-box">
    <div class="title-box">
      <div class="title">
        <h2>구독소개</h2>
      </div>
    </div>
    <div class="subscribe-introduce">
      soccer magazine은<br> 축구전문사이트로서 국내 및 해외 축구의 다양한 소식을 전하고 있습니다.<br> 잡지 구독시 유명선수와 감독을 소개하고 그들에 대한 기록분석과 근황, 유명경기의 실황 분선, 경기의 전략과 전술, 역대 유명경기의 분석, 축구에 있어서 전략적이고 분석적인 정보를 제공 받을 수 있습니다.
    </div>
    <div class="magazine-img-box">
      <div class="magazine-img01">
        <img src="/images/10월호 표지.jpg" alt="">
        <p>10월호</p>
      </div>
      <div class="magazine-img02">
        <img src="/images/9월호 표지.jpg" alt="">
        <p>9월호</p>
      </div>
      <div class="magazine-img03">
        <img src="/images/8월호 표지.jpg" alt="">
        <p>8월호</p>
      </div>
      <div class="magazine-img04">
        <img src="/images/7월호 표지.jpg" alt="">
        <p>7월호</p>
      </div>
      <div class="magazine-img05">
        <img src="/images/6월호 표지.jpg" alt="">
        <p>6월호</p>
      </div>
      <div class="magazine-img06">
        <img src="/images/5월호 표지.jpg" alt="">
        <p>5월호</p>
      </div>
      <div class="magazine-img07">
        <img src="/images/4월호 표지.jpg" alt="">
        <p>4월호</p>
      </div>
      <div class="magazine-img08">
        <img src="/images/3월호 표지.jpg" alt="">
        <p>3월호</p>
      </div>
      <div class="magazine-img09">
        <img src="/images/2월호 표지.jpg" alt="">
        <p>2월호</p>
      </div>
      <div class="magazine-img10">
        <img src="/images/1월호 표지.jpg" alt="">
        <p>1월호</p>
      </div>

    </div>
  </section>
  <section class="subscribe-explain-box">
    <div class="title-box">
      <div class="title">
        <h2>필독사항</h2>
      </div>
    </div>
    <div class="subscribe-explain">

    </div>
  </section>
  <section class="exchange">
    <div class="title-box">
      <div class="title">
        <h2>교환환불</h2>
      </div>
    </div>
    <table>
      <tr>
        <td>
          구독 안내 
        </td>
        <td>
          soccer magazine은 구독자에게 최대한 가격 혜택을 드리기 위해 발행사와 협의하에 정기간행물 낱권가보다 할인된 정기구독가로 제공하고 있습니다.<br>
          soccer magazine은 배송사고로 누락이 되거나 배송상에 문제가 발생할 경우, ONE-STOP-SYSTEM으로 구독자를 대신하여 각각의 해당 잡지사에 사고를 통보하고 재발송 요청을 통해 신속하게 문제를 해결하므로써 구독자의 편의를 제공하고 있습니다.
          <br>
          <br>
          ※ 결제안내
          <br>
          &emsp; -soccer magazine의 결제방법으로는 무통장입금, 신용카드 결제, 휴대폰 결제, 실시간계좌이체 등이 있으며 선택하여 이용하시기 바랍니다.
          <br>
          &emsp; -학교, 기관, 도서관 등과 같이 대량의 정간물을 구독하는 기관이나 단체의 경우 기안품의 및 행정처리의 편의를 위하여 행정서류 지원 및 선주문 후결제를 지원하고 있습니다.
          <br>
          ※ 교환/반품 안내
          <br>
          &emsp; -발행사/배송사 부주의로 제품의 불량, 파손드의 잡지 반품 및 교환은 물품 수령후 7일 이내 요청해야함(교환/반품 배송비 발행사 부담)
          <br>
          &emsp; -고객님의 변심으로 받으신 상품을 사용하지 않으셨다면 상품 수령일로부터 7일이내 교환 또는 반품이 가능합니다.(배송료 고객부담)
          <br>
          ※ 상품(잡지+시은품/부록)교환 및 반품이 불가능한 경우
          <br>
          &emsp; -배송완료 후 7일이 경과한 경우
          <br>
          &emsp; -포장 개봉후 상품가치가 훼손된 경우
          <br>
          &emsp; -소비자 부주의로 인한 제품의 파손
        </td>
      </tr>
      <tr>
        <td>
          환불 안내
        </td>
        <td>
          ※ 중도 취소/환불 안내
          <br>
          &emsp; -잡지 배송전 환불 : 전액환불
          <br>
          &emsp; -잡지 배송후 환불 : 구독총액-차감(배송된 잡지 정가+배송료+사은품)
          <br>
          &emsp; -위약금(해지수수료) : 해당 발생사의 규정에 따라 위약금(법정10%)을 부과하는 발행사도 있습니다.
          <br>
          &emsp; -취소불가 : 이벤트나 기획(패키지)등으로 행사하는 상품은 중도취소가 불가한 발행사도 있습니다.
          <br>
          <br>
          ※ 환불 절차
          <br>
          &emsp; -정기구독 중도 취소 : 신용카드결재는 해당카드사 청구취소는 약7일 정도 소요되면, 현금결재시 환불은 3~5일 소요됩니다.
          <br>
          &emsp; -반품 취소 : 상품이 해당 발송처로 도착한 이후 처리됩니다.
        </td>
      </tr>
    </table>
  </section>
  <footer>
    <div class="footer">
      <div class="footer-content">
        <span>SOCCER MAGAZINE</span>
        <span>발행인: Jung Sub An</span>
        <span>E-mail: apple9568@naver.com</span>
        <span><a href="https://github.com/JungSub917">Github 바로가기</a></span>
      </div>
      <div class="user-agreement">
        <span>이용약관</span>
        <span>개인정보처리방침</span>
        <span>운영정책</span>
        <span>청소년보호정책</span>
        <span>권리침해신고안내</span>
      </div>
      <p>PLAY SOCCER, START MAGAZINE!</p>
      <p>본 사이트는 비상업적 용도로 만들어진 포트폴리오용 사이트입니다. </p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script>
  let toggle = [false, false, false, false];

  $('.accordion-title').on('click', function(){
  let num = $(this).parent().index();
  console.log(num);

  if( !toggle[num]){
    $(this).next().css({'height': '150px'});
    toggle[num] = true; 
  }
  else{
    $(this).next().css({'height': '0px'});
    toggle[num] = false;
  }
})
  </script>
</body>
</html>
