<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soocer Magazine 고객센터</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/public.css">
  <link rel="stylesheet" href="/css/support.css">
</head>
<body>
  <header>
    <nav>
      <ul class="head">
        <li><a href="#">최신뉴스</a></li>
        <li><a href="#">영상</a></li>
        <h1 class="head-title"><a href="/">S<span><img src="/images/title-O.png" alt=""></span>ccer magazine</a></h1>
        <li><a href="/record">일정/결과</a></li>
        <li><a href="/support">고객센터</a></li>
      </ul>
    </nav>
    <div class="bar">
      <div class="gnb">
        <div class="search">
          <a href="/subscribe">정기구독</a>
        </div>
        <div class="login">
          <a href="/login">로그인</a>
        
        </div>
        <div class="registor">
          <a href="/register">회원가입</a>          
        </div>
      </div>
      <div class="slogan">
        PLAY SOCCER, START MAGAZINE!
      </div>   
    </div>
  </header>
  <h2 class="h2-design01">고객센터</h2>
  <section class="support">
    <nav class="navigation-support">
     
      <ul>
        <li>
          <a href="#">공지사항</a>
        </li>
        <li>
          <a href="#">1:1 문의</a>
        </li>
        <li>
          <a href="#">FAQ</a>
        </li>
      </ul>
      <div class="customer-center">
        <h4>CUSTOMER <span>CENTER</span></h4>
        <p>1234-5678</p>
        <p>평일 09:00 - 18:00</p>
        <p>토요일/일요일/공휴일 휴무</p>
        <p>은행계좌안내</p>
        <p>0000-000-000000</p>
        <p>예금주: Soocer Magazine</p>

      </div>
    </nav>
    <section> 
      <div class="search-support">
        <h3>자주묻는 질문 검색</h3>
        <form action="" autocomplete="off">
          <input type="text" class="search-text" name="search" placeholder="검색어를 입력하세요">
          <button class="search-btn">
            검색
          </button>
        </form>
      </div>
      <div class="notice-faq">
        <div class="notice">
          <div class="title-box02">
            <h2 class="h2-design02">
              공지사항
            </h2>
            <div class="more-button02">
              <a href="#">
                더보기
              </a>
            </div>
          </div>
          <div class="notice-content">
            <ul>
              <li><a href="#">[공지]주소 변경 요청 안내</a></li>
              <li><a href="#">SPORT MAGAZINE 2022년 10월호 브로마이드</a></li>
              <li><a href="#">추석 연휴 및 배송안내</a></li>
              <li><a href="#">시스템 개선 및 점건 안내</a></li>
              <li><a href="#">SPORT MAGAZINE 2022년 9월 호 브로마이드</a></li>
            </ul>
          </div>
        </div>
        <div class="faq">
          <div class="title-box02">
            <h2 class="h2-design02">
              FAQ
            </h2>
            <div class="more-button02">
              <a href="#">
                더보기
              </a>
            </div>
          </div>
          <div class="faq-content">
            <ul>
              <li><a href="#">수령지 주소 및 정보를 변경하고 싶어요</a></li>
              <li><a href="#">정기구독 사은품/부록에 대해 궁금합니다</a></li>
              <li><a href="#">비회원도 구독신청을 할 수 있나요</a></li>
              <li><a href="#">구독한 잡지가 아직 도착하지 않았습니다.</a></li>
              <li><a href="#">정기구독 중 구독을 취소하거나 반품할 때는 어떻게 하나요</a></li>
            </ul>
          </div>
        </div>
      
      </div>
    </section>
  </section>
  <footer>
    <div class="footer">
      <div class="footer-content">
        <span>SOCCER MAGAZINE</span>
        <span>발행인: Jung Sub An</span>
        <span>E-mail: apple9568@naver.com</span>
        <span><a href="https://github.com/JungSub917">Github 바로가기</a></span>
      </div>
      <div class="user-agreement">
        <span>이용약관</span>
        <span>개인정보처리방침</span>
        <span>운영정책</span>
        <span>청소년보호정책</span>
        <span>권리침해신고안내</span>
      </div>
      <p>PLAY SOCCER, START MAGAZINE!</p>
      <p>본 사이트는 비상업적 용도로 만들어진 포트폴리오용 사이트입니다. </p>
    </div>
  </footer>
</body>
</html>