/* section1 subscribe */
h2{
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 30px;
}
.subscribe-box{
  margin-bottom: 20px;
}
.accordion-container{
  width: 800px;
  margin: auto;
}
.accordion-title{
  font-size: 20px;
  font-weight: 550;
  color: white;
  line-height: 40px;
  text-indent: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-content{
  color: white;
  font-size: 15px;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: 0.2s;
}
.accordion-box{
  padding: 10px;
  background-color: #292929;
  overflow: hidden;
  border-radius: 10px;
  margin: 5px 0;
}
/* section2 subscribe-introduce-box */
.subscribe-introduce{
  width: 50%;
  font-size: 15px;
  justify-content: center;
  margin: auto;
  padding-bottom: 20px;
}
/* section3 subscribe-explain-box */

.subscribe-explain{

}
